<footer>
  <div>
    <p>&copy;International Photography Meetup Organization</p>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
  <div>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
</footer>
</body>
</html>