<%- include('./partials/header.ejs') %>
<main>
  <div class="contact-container">
    <div class="contact-content">
      <h1 class="contact-heading">Contact Us</h1>
      <p class="contact-description">
        If you have any questions or inquiries, please feel free to reach out to
        us using the contact information below:
      </p>

      <div class="team-container">
        <h2 class="team-heading">Our Team</h2>
        <ul class="team-list">
          <li class="team-member">
            <span class="team-member-name">Chris Azuaje</span>
            <span class="team-member-email">christopherazuaje@uncc.edu</span>
          </li>
          <li class="team-member">
            <span class="team-member-name">Teekshala</span>
            <span class="team-member-email">tkanthet@unnc.edu</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %>
