<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
        , initial-scale=1.0"
    />
    <title>International Photography Meetup Organization</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/1fd1ffd6f1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav id="nav_top">
        <div>
          <img
            src="/images/Logo.png"
            alt="International photography meetup logo"
            id="IPM_logo"
            onclick="location.href = '/'"
          />
          <h1>IPMO</h1>
        </div>
        <div>
          <a href="/events/newEvent">New Event</a>
          <a href="#">Sign Up</a>
          <a href="#">Login</a>
        </div>
      </nav>
      <nav id="nav_bottom">
        <a href="/events">Events</a>
      </nav>
    </header>
    <main>
      <div class="event_title">
        <h2>Oslo, Norway Meetup</h2>
        <i class="fa-regular fa-pen-to-square icon icon-edit"></i>
        <i class="fa-regular fa-trash-can icon icon-trash"></i>
      </div>
      <div class="event_section">
        <div>
          <img src="/images/cafe-sor.jpg" alt="Cafe Sor" class="event_img" />
        </div>
        <div class="event_section--descriptions">
          <div class="event_section--info">
            <p><strong>Host:&nbsp;</strong></p>
            <p>John Doe</p>
          </div>
          <div class="event_section--info">
            <p><strong>Date and Time:&nbsp;</strong></p>
            <p>Mon, Oct 14, 2024, 2pm - 6pm</p>
          </div>
          <div class="event_section--info">
            <p><strong>Location:&nbsp;</strong></p>
            <p>Cafe Sør - Torggata 11, 0181 Oslo, Norway</p>
          </div>
          <div class="event_section--info">
            <p><strong>Details:&nbsp;</strong></p>
            <p>Walk along Torggata, very close to the Youngstorget plaza!</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <p>&copy;International Photography Meetup Organization</p>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </footer>
  </body>
</html>
