<%- include('./partials/header.ejs') %>

<main>
  <h2 id="heading_home">Welcome! 👋</h2>
  <div id="introduction">
    <div>
      <p>
        At the International Photography Meetup Organization, or IPMO, we
        believe in the power of connection and creativity.
      </p>
      <p>
        Our global community brings together photographers from every corner of
        the world, offering a platform to share knowledge, discover new
        techniques, and inspire one another. Whether you're a seasoned
        professional or just starting out, IPMO is your gateway to creating
        stunning visuals, forging meaningful relationships, and capturing
        moments that last a lifetime.
      </p>
      <p>
        Become part of a global community where photography enthusiasts connect
        through a shared love for visual storytelling!
      </p>
    </div>
    <div id="home_image-div">
      <img src="/images/home-img.jpg" alt="" class="home-img" />
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
