<%- include('./partials/header.ejs') %>
<main>
  <h2>Meetups INDEX 🤝</h2>
  <ul>
    <li><a href="/events/event">Oslo, Norway Meetup</a></li>
    <li><a href="/events/event">Barcelona, Spain Workshop</a></li>
    <li><a href="/events/event">Zurich, Switzerland Meetup</a></li>
  </ul>
  <h2>Trips ✈️</h2>
  <ul>
    <li><a href="/events/event">Oslo - Flåm Railway</a></li>
    <li>
      <a href="/events/event">Barcelona - La Sagrada Familia & Park Guell</a>
    </li>
    <li>
      <a href="/events/event">Zurich - Lake Zurich, Badi & Roger Federer</a>
    </li>
  </ul>
</main>
<%- include('./partials/footer.ejs') %>
